@media screen and (min-width: 290px) and (max-width: 389px) {

    .setBox{
        gap:30px !important;
    }
    .zagh2{
        font-size: 18px ;
    }

}

.setBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    letter-spacing: 1px;
}

.zag{
    font-size: 40px;
    margin: 0;
}

.buttonBox{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    
}

.save {
    width: 100px;
    padding: 10px;
    background: rgb(29, 151, 111);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
}

.save:hover {
    background: rgb(44, 225, 231);
    border: 1px solid black;
    color: black;
}


.menu {
    width: 80px;
    padding: 10px;
    background: rgb(134, 67, 67);
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.menu:hover {
    background: white;
    border: 1px solid black;
    color: black;
}
.modBox1, .modBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.butBox1, .butBox2{
    height: 50px;
    width: 290px;
    text-align: center;
    font-size: 25px;
    font-family: var(--font-jost), sans-serif;
    border-radius: 5px;
    border: 2px solid;

}
.saveMessage{
    position: absolute;
    top:80px;
    left: 50%;
    width: 330px;
    transform: translateX(-50%);
    background-color: rgb(10, 165, 170);
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 1px;
}

