
.statistic {
    margin: 10% auto;
    max-width: 800px;
    text-align: center;
    font-family: var(--font-jost), sans-serif;
}

.statistic-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.statistic-title {
    font-size: 24px;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
}


.statistic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.statistic-table th,
.statistic-table td {
    border: 1px solid #ccc;
    height: 40px;
    vertical-align: center;
    text-align: center;
}

.statistic-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.statistic-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.statistic-table tr:hover {
    background-color: #f1f1f1;
}


.table-title2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-th-img {
    position: absolute;
    top: -5px;
    right: 0;
}

.table-title3 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.pagination button {
    font-family: var(--font-jost), sans-serif;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.pagination button:disabled {
    font-family: var(--font-jost), sans-serif;
    cursor: not-allowed;
    opacity: 0.5;
}

.empty-row td {
    background-color: #f9f9f9;
}


/* ФИЛЬТРАЦИОННОЕ МЕНЮ */


.filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:40px;
    top: 0;
    right: 0;
    background: white;
    width: 300px;
    z-index: 20;
    height: 100vh;
}

.filter-menu-background {
    position: fixed;
    z-index: 10;
    inset: 0;
    background: black;
    opacity: 30%;
}

.filter-menu {
    display: flex;
    flex-direction: row;
    width: 85%;
    font-family: var(--font-jost), sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}
.filter-menu:hover {
    background-color: lightgray;
    cursor: pointer;
}

.filter-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap:20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

.filter-header-title {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
}

.subfilter-menu {
    position: fixed;
    display: flex;
    font-family: var(--font-jost), sans-serif;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:40px;
    top: 0;
    right: 0;
    background: white;
    width: 300px;
    z-index: 20;
    height: 100vh;
}

.subfilter-menu-header{
    font-size: 25px;
    text-align: center;
}

.subfilter-menu-block {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 85%;
    gap: 30px;
}

.subfilter-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.subfilter-menu-item.active{
    background-color: lightgray; ;
}

.statistic-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.menu-button {
    text-align: center;
    text-decoration: none;
    width: 200px;
    padding: 5px;
    background: white;;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
}
.menu-button:hover {
    background: rgb(134, 67, 67);
    border: 1px solid black;
    color: black;
}

